*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  /* justify-content: center; */
  align-items: center;

  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "result-area details-area";
  row-gap: 30px;
  margin: auto 30px;
  justify-self: start;

}

.result {
  padding:78px 0px 0px 0px;
  width: 711px;
  grid-area: result-area;
}
.content__details {
  grid-area: details-area;
  display: flex;
  flex-direction: column;
  justify-items: end;
  gap: 22px;/* 22 px is working*/
}

.result__video-container {
  margin-bottom: 16px;
  height: 386px;
}

.result__video {
  height: 386px;
  object-fit: fill;
  object-position: center;
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.content__accent {
  color: #545050;
}

.title {
  font-family: "Oswald", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  height: 210px;
  width: 259px;
  margin-top: 5px;
}

.content__list-container {
  max-height: 298px;
  overflow: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  row-gap: 0px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 194px;
  height: 103px;
}

.content__video-card-description {
  margin-top: 6px;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link {
  color: white;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}